body {
    text-align: center;
}

hr {
    width: 150px;
    background-color: black;
    margin: 1.5rem auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@import "./overviewStyle.scss"